.content{
  height: 100vh;
  background-color: #F1F4F9;
  padding: 0 24rpx;
  box-sizing: border-box;
  .item{
    background-color: white;
    border-radius: 20rpx;
    margin-top: 30rpx;
    display: flex;
    padding: 24rpx;
    justify-content: space-between;
    .left{
      width: calc(100% - 230rpx);
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .title{
        font-size: 30rpx;
        font-weight: bold;
      }
      .date{
        font-size: 26rpx;
        color: #999999;
      }
    }
    .right{
      display: flex;
      justify-content: center;
      flex-direction: column;
      image{
        vertical-align: bottom;
        width: 200rpx;
        height: 200rpx;
      }
    }
  }
}